body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}
body ::-webkit-scrollbar {
  display: none;
}

main,
section {
  display: flex;
}

.header-menu {
  height: 100vh;
  background-color: #000;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}
.header-menu .menu {
  font-size: 1rem;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  list-style: none;
  text-decoration: none;
  margin-top: 15px;
}
.header-menu .menu ul {
  text-align: left;
  margin-top: 30px;
  padding: 0;
}
.header-menu .menu ul li {
  border-bottom: 2px solid #545454;
  margin-bottom: 15px;
  padding-bottom: 10px;
}
.header-menu .menu ul li a {
  list-style: none;
  text-decoration: none;
  color: #f7f7f7;
}
.header-menu .menu ul li :hover {
  color: #ffb400;
}

.section-home {
  background-image: url(../img/profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 800px;
  margin-left: 200px;
  position: relative;
}
.section-home .circle-three {
  position: absolute;
  left: 100px;
  top: 560px;
  display: flex;
  gap: 15px;
}
.section-home .circle-three :hover {
  cursor: pointer;
  background-color: #fff;
}
.section-home .circle-three .circle_1 {
  width: 15px;
  height: 15px;
  border: 3px solid #fff;
  border-radius: 50%;
}
.section-home .text-header {
  font-family: "Oswald", sans-serif;
  color: #fff;
  width: 750px;
  margin-top: 40%;
  padding-left: 30px;
}
.section-home .text-header h1 {
  width: 300px;
  font-size: 3rem;
  font-weight: 100;
  line-height: 50px;
}
.section-home .text-header h1 span {
  font-weight: 600;
}
.section-home .text-header p {
  border-top: 2px solid rgba(247, 247, 247, 0.5);
  border-bottom: 2px solid rgba(247, 247, 247, 0.5);
  color: rgba(247, 247, 247, 0.5);
  padding-top: 15px;
  padding-bottom: 15px;
  width: 300px;
  margin-top: -20px;
  font-size: 1.3rem;
}

.about-sg {
  background-image: url(../img/about.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  overflow-y: scroll;
  width: 800px;
  height: 100vh;
}
.about-sg .about-andrew {
  padding: 50px;
  width: 700px;
}
.about-sg .about-andrew .about-header {
  font-size: 3rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  margin: 0;
  padding-bottom: 25px;
  border-bottom: 5px solid #ffb400;
  width: -moz-fit-content;
  width: fit-content;
}
.about-sg .about-andrew .about-text {
  margin-top: 50px;
  width: 500px;
  margin-bottom: 50px;
}
.about-sg .about-andrew .about-text ul {
  padding: 0;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #545454;
}
.about-sg .about-andrew .about-text ul li {
  text-decoration: none;
  list-style: none;
  border-bottom: 1px solid rgba(84, 84, 84, 0.2);
  padding-bottom: 20px;
  margin-top: 20px;
}
.about-sg .about-andrew h3 {
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000;
  margin-top: 60px;
  width: -moz-fit-content;
  width: fit-content;
}
.about-sg .about-andrew p {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: #545454;
  width: 55%;
  line-height: 25px;
}
.about-sg .about-andrew .btn {
  border: 3px solid #ffb400;
  width: 40%;
  height: 30px;
  text-align: center;
  padding: 6px;
  margin-top: 30px;
}
.about-sg .about-andrew .btn a {
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}
.about-sg .about-andrew .btn :hover {
  color: #ffb400;
}
.about-sg .about-andrew img {
  width: 25%;
  margin-top: 50px;
}

.skills-sg {
  background-color: #f7f7f7;
  overflow-y: scroll;
  height: 100vh;
  width: 900px;
}
.skills-sg .skills-andrew {
  width: 800px;
  height: 100vh;
  padding: 50px;
}
.skills-sg .skills-andrew .skills-header {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 25px;
  border-bottom: 5px solid #ffb400;
  width: -moz-fit-content;
  width: fit-content;
}
.skills-sg .skills-andrew .skills-text {
  margin-top: 50px;
  padding: 0;
  width: 95%;
}
.skills-sg .skills-andrew .skills-text h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  margin: 0;
  color: #000;
}
.skills-sg .skills-andrew .skills-text p {
  font-size: 1rem;
  color: #545454;
  margin-top: 10px;
  line-height: 25px;
}
.skills-sg .skills-andrew .skills-con-sircle {
  width: 100%;
  margin-top: 50px;
  border-bottom: 1px solid #545454;
  padding-bottom: 30px;
}
.skills-sg .skills-andrew .skills-con-sircle .skills-con-flex-1,
.skills-sg .skills-andrew .skills-con-sircle .skills-con-flex-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.skills-sg .skills-andrew .skills-con-sircle .sircle {
  width: 50%;
  height: 130px;
  margin: 15px;
  display: flex;
}
.skills-sg .skills-andrew .skills-con-sircle .src-span {
  border: 8px solid #545454;
  width: 35%;
  text-align: center;
  border-radius: 50%;
  padding-top: 25px;
  color: #ffb400;
}
.skills-sg .skills-andrew .skills-con-sircle .src-span span {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
.skills-sg .skills-andrew .skills-con-sircle .src-text {
  margin-left: 30px;
}
.skills-sg .skills-andrew .skills-con-sircle .src-text h4 {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 15px;
  width: 50%;
}
.skills-sg .skills-andrew .skills-con-sircle .src-text p {
  margin-top: -30px;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.7);
}
.skills-sg .skills-andrew .src-text-knowlage {
  margin-top: 50px;
}
.skills-sg .skills-andrew .src-text-knowlage h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}
.skills-sg .skills-andrew .src-text-knowlage p {
  width: 92%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
}
.skills-sg .skills-andrew .src-text-knowlage .flex-list {
  display: flex;
  border-bottom: 1px solid #545454;
  padding-bottom: 50px;
}
.skills-sg .skills-andrew .src-text-knowlage .flex-list .list {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
}
.skills-sg .skills-andrew .src-text-knowlage .flex-list .list ul {
  margin-top: 15px;
}
.skills-sg .skills-andrew .src-text-knowlage .flex-list .list ul li {
  margin: 10px;
  list-style: none;
}
.skills-sg .skills-andrew .src-text-knowlage .flex-list .list ul ::before {
  content: url(../img/icon.svg);
  width: 50px;
  height: 50px;
  color: #000;
  margin: 5px;
}
.skills-sg .skills-andrew .src-language {
  margin-top: 50px;
}
.skills-sg .skills-andrew .src-language h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}
.skills-sg .skills-andrew .src-language p {
  width: 92%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
}
.skills-sg .skills-andrew .src-language .one-p-main {
  margin-top: 50px;
}
.skills-sg .skills-andrew .src-language .progress-bar-main {
  display: flex;
  gap: 15px;
  flex-direction: row-reverse;
  justify-content: left;
}
.skills-sg .skills-andrew .src-language .progress-bar-main .pro-left {
  width: 100%;
}
.skills-sg .skills-andrew .src-language .progress-bar-main .pro-left h3 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
.skills-sg .skills-andrew .src-language .progress-bar-main .pro-left .progress {
  width: 100%;
  height: 10px;
  background-color: #d4d4d4;
  margin-top: -10px;
  padding: 0;
}
.skills-sg .skills-andrew .src-language .progress-bar-main .pro-left .progress .p-bar-99 {
  width: 99%;
  height: 10px;
  background-color: #545454;
}
.skills-sg .skills-andrew .src-language .progress-bar-main .pro-left .progress .p-bar-80 {
  width: 80%;
  height: 10px;
  background-color: #545454;
}
.skills-sg .skills-andrew .src-language .progress-bar-main .pro-left .progress .p-bar-60 {
  width: 60%;
  height: 10px;
  background-color: #545454;
}
.skills-sg .skills-andrew .src-language .progress-bar-main .progress-bar .progress-bar-inner span {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  height: 100%;
}

.exprience-sg {
  height: 100vh;
  width: 900px;
  overflow-y: scroll;
}
.exprience-sg .exprince-cont {
  padding: 50px;
  width: 800px;
}
.exprience-sg .exprince-cont h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 25px;
  border-bottom: 5px solid #ffb400;
  width: -moz-fit-content;
  width: fit-content;
}
.exprience-sg .exprince-cont h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 50px;
}
.exprience-sg .exprince-cont p {
  width: 92%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
}
.exprience-sg .exprince-cont .exprince-main {
  margin-top: 50px;
}
.exprience-sg .exprince-cont .exprince-main .exprince-details {
  border-bottom: 1px solid #747474;
  border-top: 1px solid #747474;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  display: flex;
}
.exprience-sg .exprince-cont .exprince-main .exprince-details .exp-right {
  display: flex;
  gap: 15px;
  width: 50%;
}
.exprience-sg .exprince-cont .exprince-main .exprince-details .exp-right .right-img {
  text-align: center;
}
.exprience-sg .exprince-cont .exprince-main .exprince-details .exp-right .right-img i {
  font-size: 73px;
  margin-top: 10px;
}
.exprience-sg .exprince-cont .exprince-main .exprince-details .exp-right .right-head h5 {
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 0;
  margin-bottom: 0;
  margin-top: -3px;
}
.exprience-sg .exprince-cont .exprince-main .exprince-details .exp-right .right-head h4 {
  width: 450px;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  padding: 0;
  margin-top: -1px;
  margin-bottom: 0;
  color: #545454;
}
.exprience-sg .exprince-cont .exprince-main .exprince-details .exp-right .right-head span {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin-top: -30px;
  padding: 0;
}
.exprience-sg .exprince-cont .exprince-main .exprince-details .exp-left {
  width: 92%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
}

.education-sg {
  background-color: #f7f7f7;
  height: 100vh;
  width: 900px;
  overflow-y: scroll;
}
.education-sg .education-cont {
  padding: 50px;
  width: 800px;
}
.education-sg .education-cont h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 25px;
  border-bottom: 5px solid #ffb400;
  width: -moz-fit-content;
  width: fit-content;
}
.education-sg .education-cont h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 50px;
}
.education-sg .education-cont p {
  width: 92%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
}
.education-sg .education-cont .education-main {
  margin-top: 50px;
}
.education-sg .education-cont .education-main .education-details {
  border-bottom: 1px solid #747474;
  border-top: 1px solid #747474;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  display: flex;
}
.education-sg .education-cont .education-main .education-details .education-right {
  display: flex;
  gap: 15px;
  width: 50%;
}
.education-sg .education-cont .education-main .education-details .education-right .edu-icon {
  text-align: center;
}
.education-sg .education-cont .education-main .education-details .education-right .edu-icon i {
  font-size: 73px;
  margin-top: 10px;
}
.education-sg .education-cont .education-main .education-details .education-right .edu-header h5 {
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 0;
  margin-bottom: 0;
  margin-top: -3px;
}
.education-sg .education-cont .education-main .education-details .education-right .edu-header h4 {
  width: 450px;
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  padding: 0;
  margin-top: -1px;
  margin-bottom: 0;
  color: #545454;
}
.education-sg .education-cont .education-main .education-details .education-right .edu-header span {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  margin-top: -30px;
  padding: 0;
}
.education-sg .education-cont .education-main .education-details .education-left {
  width: 92%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
}

.portfolio-sg {
  height: 100vh;
  width: 900px;
  overflow-y: scroll;
}
.portfolio-sg .portfolio-cont {
  padding: 50px;
  width: 800px;
}
.portfolio-sg .portfolio-cont h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 25px;
  border-bottom: 5px solid #ffb400;
  width: -moz-fit-content;
  width: fit-content;
}
.portfolio-sg .portfolio-cont h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 50px;
}
.portfolio-sg .portfolio-cont p {
  width: 92%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
}
.portfolio-sg .portfolio-cont .portfolio-main {
  margin-top: 50px;
}
.portfolio-sg .portfolio-cont .portfolio-main .work {
  margin-top: 50px;
  position: relative;
}
.portfolio-sg .portfolio-cont .portfolio-main .work .fig-plus:hover {
  opacity: 1 !important;
  cursor: pointer;
}
.portfolio-sg .portfolio-cont .portfolio-main .work .fig-plus {
  text-align: center;
  border: 1px solid red;
  background-color: #ffb400;
  width: 88%;
  height: 476px;
  position: absolute;
  top: -5px;
  opacity: 0;
}
.portfolio-sg .portfolio-cont .portfolio-main .work .fig-plus div {
  margin-top: 150px;
}
.portfolio-sg .portfolio-cont .portfolio-main .work .fig-plus div h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.portfolio-sg .portfolio-cont .portfolio-main .work .fig-plus div span {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-top: -10px;
}

.contact-sg {
  background-color: #f7f7f7;
  height: 100vh;
  width: 900px;
  overflow-y: scroll;
}
.contact-sg .contact-cont {
  padding: 50px;
  width: 800px;
}
.contact-sg .contact-cont h2 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  margin: 0;
  padding-bottom: 25px;
  border-bottom: 5px solid #ffb400;
  width: -moz-fit-content;
  width: fit-content;
}
.contact-sg .contact-cont h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 50px;
}
.contact-sg .contact-cont p {
  width: 92%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
}
.contact-sg .contact-cont .contact-main .contact-main-1 {
  width: 90%;
  border-bottom: 1px solid #747474;
  border-top: 1px solid #747474;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  display: flex;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-right {
  width: 50%;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-right .contact-text {
  display: flex;
  gap: 40px;
  margin-top: 10px;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-right .contact-text .contact-icon {
  text-align: center;
  width: 30px;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-right .contact-text .contact-icon i {
  font-size: 50px;
  margin-top: 5px;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-right .contact-text .contact-text-header h5 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  padding: 0;
  margin-bottom: 0;
  margin-top: -2px;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-right .contact-text .contact-text-header span {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  margin-top: 2px;
  padding: 0;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-left {
  margin-left: 20px;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-left h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: -5px;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-left p {
  width: 75%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #545454;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-left .c-m-l-icons {
  width: 60%;
  margin-top: 30px;
  margin-left: 20px;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-left .c-m-l-icons a i {
  font-size: 30px;
  color: #747474;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-left .c-m-l-icons a .left_1 {
  margin-left: 30px;
}
.contact-sg .contact-cont .contact-main .contact-main-1 .c-m-left .c-m-l-icons a :hover {
  color: #000;
}
.contact-sg .contact-cont .contact-main .contact-main-2 h3 {
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 50px;
}
.contact-sg .contact-cont .contact-main .contact-main-2 #form1 .text {
  width: 90%;
  height: 50px;
  margin-top: 30px;
}
.contact-sg .contact-cont .contact-main .contact-main-2 #form1 .text-massege {
  width: 90%;
  margin-top: 30px;
  resize: none;
}
.contact-sg .contact-cont .contact-main .contact-main-2 #form1 .btn {
  width: 15%;
  height: 50px;
  margin-top: 20px;
  background-color: #fff;
  border: 3px solid #ffb400;
  font-size: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.contact-sg .contact-cont .contact-main .contact-main-2 #form1 .btn:hover {
  background-color: #ffb400;
  color: #fff;
  cursor: pointer;
}

.blog-sg {
  width: 900px;
  height: 100vh;
  background-image: url(../img/profile-01.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}/*# sourceMappingURL=main.css.map */